In [ ]:
import sqlalchemy as db
from getpass import getpass

In [ ]:
password = getpass("Mysql Password: ")

In [ ]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [ ]:
engine = db.create_engine(connectionData)
print("Connected to server!")

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_sql_query("""
SELECT 
	t.title_id, t.title, year(t.pubdate) as yearpub

	FROM titles AS t
	LEFT JOIN titleauthor AS ta ON t.title_id=ta.title_id
    ORDER BY yearpub DESC
""", engine)

In [ ]:
df

In [ ]:
df = pd.read_sql_query("""
SELECT 
	t.title_id, t.title, count(*) as num_authors, GROUP_CONCAT(concat(au.au_fname,' ', au.au_lname)) as nombre, year(t.pubdate)
 	FROM titles AS t
 	LEFT JOIN titleauthor AS ta ON t.title_id=ta.title_id
 	LEFT JOIN authors AS au ON ta.au_id=au.au_id
        WHERE year(t.pubdate) > 2000
    GROUP BY t.title_id
""", engine)
df

# Performance

In [ ]:
%%time

df = pd.read_sql_query("""
SELECT sum(price) price FROM titles
""", engine)
print(df.iloc[0].price)

In [ ]:
%%time

df = pd.read_sql_query("""
SELECT * FROM titles
""", engine)
print(df.price.sum())