In [1]:
#https://spectrum.chat/datamad/projects/duda-sobre-apply-function~d7337d36-bb44-4069-b0a8-5a0972ceec59

In [3]:
import pandas as pd
import numpy as np


df1 = pd.DataFrame(np.random.random((10,2)))
df2 = pd.DataFrame(np.random.random((10,2)), columns=["A","B"])
display(df1)
defdisplay(df2)

          0         1
0  0.676882  0.448158
1  0.410506  0.126710
2  0.184001  0.964998
3  0.699601  0.276513
4  0.828454  0.782474
5  0.624224  0.034172
6  0.003828  0.135881
7  0.610277  0.152119
8  0.862744  0.542121
9  0.845798  0.025875

          A         B
0  0.175680  0.203697
1  0.602426  0.429150
2  0.355173  0.868764
3  0.463526  0.637745
4  0.612023  0.878084
5  0.081031  0.370484
6  0.735620  0.087738
7  0.549454  0.285237
8  0.381382  0.564254
9  0.494248  0.699527

In [6]:
def transformer(e):
    return e*44
    
    
df2["B"].apply(transformer)

0     8.962681
1    18.882588
2    38.225616
3    28.060760
4    38.635675
5    16.301299
6     3.860451
7    12.550434
8    24.827197
9    30.779207
Name: B, dtype: float64

In [11]:
q = pd.concat([df1,df2], axis=1)


def transf2(row):
    return 44*row["B"] if row[1] > 0.5 else row["B"]

q[[1,"B"]].apply(transf2,axis=1)

0     0.203697
1     0.429150
2    38.225616
3     0.637745
4    38.635675
5     0.370484
6     0.087738
7     0.285237
8    24.827197
9     0.699527
dtype: float64

In [13]:
def trans3(searchDf):
    def transformer(e):
        return searchDf[searchDf[0] == e].size
    return transformer
    
df2["B"].apply(trans3(df1))

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: B, dtype: int64