In [36]:
import pandas as pd

df = pd.DataFrame([
    {"Brand":"Motorola","Model":"Motorola I265 phone"},
    {"Brand":"Motorola","Model":"MOTOROLA C168i At&t"},
    {"Brand":"Motorola","Model":"Motorola V365 no con"},
    {"Brand":"Nokia","Model":"Nokia V365 no con"},
])

df

      Brand                 Model
0  Motorola   Motorola I265 phone
1  Motorola   MOTOROLA C168i At&t
2  Motorola  Motorola V365 no con
3     Nokia     Nokia V365 no con

In [37]:
# https://docs.python.org/3/howto/regex.html
import re

def ejemplo(row):
    if row.Brand == "Motorola":
        q = re.search("(motorola) (?P<model>.*)", row.Model, re.IGNORECASE)
        #print(q)
        print(q.group("model")) #is the same as print(q[2])
        return q.group("model")
    else:
        return "No-motorola"
    
df["modelo_clean"] = df.apply(ejemplo, axis=1)
df

I265 phone
C168i At&t
V365 no con

      Brand                 Model modelo_clean
0  Motorola   Motorola I265 phone   I265 phone
1  Motorola   MOTOROLA C168i At&t   C168i At&t
2  Motorola  Motorola V365 no con  V365 no con
3     Nokia     Nokia V365 no con  No-motorola

In [38]:

def ejemplo(row):
    reg = f"({row.Brand}) (?P<model>.*)"
    print(reg)
    q = re.search(reg, row.Model, re.IGNORECASE)
    if q:
        print(q.group("model")) #is the same as print(q[2])
        return q.group("model")
    else:
        return "NO-MODEL"
  
    
df["modelo_clean"] = df.apply(ejemplo, axis=1)
df

(Motorola) (?P<model>.*)
I265 phone
(Motorola) (?P<model>.*)
C168i At&t
(Motorola) (?P<model>.*)
V365 no con
(Nokia) (?P<model>.*)
V365 no con

      Brand                 Model modelo_clean
0  Motorola   Motorola I265 phone   I265 phone
1  Motorola   MOTOROLA C168i At&t   C168i At&t
2  Motorola  Motorola V365 no con  V365 no con
3     Nokia     Nokia V365 no con  V365 no con