In [1]:
import pandas as pd
import numpy as np

In [2]:
ad = pd.read_csv('Admission_Predict.csv')
ad.columns = ad.columns.str.rstrip()

In [3]:
#visualizamos dataframe
ad.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

In [4]:
def funcioncita(x):
    return x + 1

In [5]:
#Añadimos una columna al dataset llamada sumando aplicándole la función funcioncita a una columna.
#Con apply iteramos sobre cada elemento de la serie y aplicamos la función al elemento
ad["sumando"] = ad["SOP"].apply(funcioncita)

In [6]:
ad.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,sumando
0,1,337,118,4,4.5,4.5,9.65,1,0.92,5.5
1,2,316,104,3,3.0,3.5,8.00,1,0.72,4.0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,4.5
3,4,314,103,2,2.0,3.0,8.21,0,0.65,3.0
4,5,330,115,5,4.5,3.0,9.34,1,0.90,5.5

In [8]:
#También podemos hacer operaciones con varias columnas después de un apply en la misa línea.
ad["variascolumnas"] = ad["SOP"].apply(funcioncita)*ad["LOR"]

In [9]:
ad.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,sumando,variascolumnas
0,1,337,118,4,4.5,4.5,9.65,1,0.92,5.5,24.75
1,2,316,104,3,3.0,3.5,8.00,1,0.72,4.0,14.00
2,3,322,110,3,3.5,2.5,8.67,1,0.80,4.5,11.25
3,4,314,103,2,2.0,3.0,8.21,0,0.65,3.0,9.00
4,5,330,115,5,4.5,3.0,9.34,1,0.90,5.5,16.50

In [10]:
def standardize(col):
    mean =  np.mean(col) 
    col = (col - mean)/ np.std(col)
    return col

In [11]:
#lista de columnas sobre las que vamos a crear las nuevas con la función standardize
cols= ["CGPA","GRE Score", "LOR"]
#list comprehesion para crear los nombres de las columnas nuevas basados en la anterior
std_columns = [f'{a}_std' for a in cols]

In [12]:
#hacemos una función a la que le pasamos las dos listas, la función y un dataset y nos hace las columnas nuevas.
def funcionderas(lista1,lista2,funcion,data):
    for a,b in zip(lista1,lista2):
        data[f"{b}"] = funcion(data[f"{a}"])

In [13]:
funcionderas(cols,std_columns,standardize,ad)

In [14]:
ad.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,sumando,variascolumnas,CGPA_std,GRE Score_std,LOR_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,5.5,24.75,1.750174,1.755663,1.193197
1,2,316,104,3,3.0,3.5,8.00,1,0.72,4.0,14.00,-0.992501,-0.063450,0.076840
2,3,322,110,3,3.5,2.5,8.67,1,0.80,4.5,11.25,0.121191,0.456297,-1.039517
3,4,314,103,2,2.0,3.0,8.21,0,0.65,3.0,9.00,-0.643433,-0.236698,-0.481338
4,5,330,115,5,4.5,3.0,9.34,1,0.90,5.5,16.50,1.234884,1.149292,-0.481338

In [6]:
#Miramos los valores de una columna y en función de la condición añadimos unos valores u otros
#(Resolución de LAB Advanced pandas)
#Documentación --> https://numpy.org/doc/stable/reference/generated/numpy.where.html
ad["sustitucion"] = np.where(ad["University Rating"] > 4,ad["GRE Score"]+10,ad["GRE Score"])

In [15]:
#Función chorra suma
def sumafacil(a,b):
    return a + b

In [16]:
#Para ver que se puede hacer lo mismo con una lambda en menos líneas
suma = lambda a,b: a+b

In [16]:
#La función map recorre un iterable y aplica la función a cada elemento del iterable
lista1 = [1,2,3,4,5,6,7]
lista1modificada = list(map(funcioncita,lista1))
lista1modificada

[2, 3, 4, 5, 6, 7, 8]

In [17]:
#Filtramos una lista y sacamos los pares
lista2 = [1,2,3,4,5,6,7,8,9]
pares = list(filter(lambda x: x%2 == 0,lista2))
pares

[2, 4, 6, 8]

In [21]:
lista2 =  [1,2,3,4,5,6,7,8,9,"hola","adiós",""]
strings2 = list(filter(lambda x: type(x) == str,lista3))
strings2

['hola', 'adiós', '']

In [22]:
#Os dejo el ejemplo que estuvimos comentando, sobre true y los strings.
lista3 =  [1,2,3,4,5,6,7,8,9,"hola","adiós",""]
strings3 = list(filter(lambda x: str(x),lista3))
strings3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hola', 'adiós']

In [28]:
from functools import reduce
def funcioncita2(a,b):
    print(f"hola {a}, {b}")
    return a + b

In [29]:
otralista = [1,2,3,4,5,6,7,8]
visualizandoreduce = reduce(funcioncita2,otralista)
visualizandoreduce

hola 1, 2
hola 3, 3
hola 6, 4
hola 10, 5
hola 15, 6
hola 21, 7
hola 28, 8

36

In [26]:
listaconreduce = reduce(lambda a,b: a+b,otralista)
listaconreduce

36